* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fit_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#wrapper {
    display: flex;
    height: 100vh;
    background: #291f1f;
}

.carousel_container {
    display: flex;
    position: relative;
    width: 80%;
    height: 500px;
    margin: auto;
}

.switch_left,
.switch_right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50px;
    font-size: 50px;
}

.switch_left > i,
.switch_right > i {
    color: #ffffff50;
    transition: color 0.4s;
    cursor: pointer;
}
.switch_left > i:hover,
.switch_right > i:hover {
    color: #fff;
}

.carousel {
    width: calc(100% - 100px);
    height: 100%;
}

.nav {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff50;
}

.nav > i {
    margin: 0 5px;
    cursor: pointer;
    transition: color 1s;
}
.nav > i:hover {
    color: #fff;
}

.active {
    color: #fff;
}

.autoPlay_btn {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    padding: 5px 50px;
    border-radius: 50px;
    background: #0010fa;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
}
.autoPlay_btn:hover {
    background: #141b78;
}
